@media (min-width:411px)
#search-button
{
  	width: 50px;
  	height: 50px;                 
	fill: #939393;
}

@media (max-width:550px)
.sized
{
	font-size:0.82em
}
	
	
@media (max-width:410px){

.sized
{
	font-size:0.70em
	
}
.sizeddiv
{
	height:1.7em
	
}


}
#site
{
	display:none;
	
	
}

.logo
{
	height: 50px; 
	width: 50px;
	
}

.logo1
{
	height: 50px; 
	width: 50px;
	
}

.photo
{
	height: 100px; 
	width: 150px;
}
.logo1
{
	height: 120px; 
	width: 130px;
	margin: -41em 0em;
	height : 40 px;
}
.photo1
{
	height: 100px; 
	width: 100px;
}

#little-icon
{
  	width: 15px;
  	height: 15px;
	fill: #939393;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.myLink {display: none}

.button__badge {
   position:absolute;
   font-size:.7em;
   top:-1px;
   background:#939393;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

.gio 
{
	width:23px;height:23px;
}

.logtab 
{
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 10px;
}

.scritta
{
	color: #e6e6e6;
	font-size: 80px;
	word-spacing: 10px;
	text-shadow: 1px 1px black;
	height : 10 px;
}
.dropbtn {
    background-color: #E65940;
    color: white;
    padding: 8px;
    width:150px;height:40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #B8B8B8;
}



.dropdown {
    position: absolute;
    display: inline-block;
	top: 132px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 16px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

 /* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display:inline-block;
}


/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 7px;
  left: 0px;
  height: 17px;
  width: 17px;
  background-color: #eee;
  border-radius: 50%;
  border: 2px solid #E65940;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #E65940;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #FFF;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #E65940;
} 
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}

.myLink {display: none}


